# Start off by ignoring everything
/*

# Pre-commit ESLint hook
!/.github

# Probe JS
/kubejs/probe
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json
/kubejs/*/jsconfig.json

# VSCode workspace
!/.vscode
/.vscode/*
!/.vscode/*.code-workspace

# Configs
!/config
/config/*

# Folders
!/config/fancymenu
!/config/jade
/config/jade/*
!/config/jade/jade.json
!/config/ars_nouveau
!/config/artifacts
!/config/bettercombat
!/config/cataclysm
!/config/celestisynth
!/config/combatroll
!/config/crash_assistant
!/config/customcredits
!/config/defaultoptions
!/config/drippyloadingscreen
!/config/fancymenu
!/config/fancymenu/assets
!/config/fancymenu/customization
!/config/fancymenu/layout_editor
!/config/fancymenu/panoramas
!/config/fancymenu/ui_themes
!/config/fdbosses
!/config/ftbquests
!/config/goety
!/config/jade
!/config/Mekanism
!/config/Obscuria
!/config/openloader
!/config/revelationfix
!/config/servercore
!/config/simplymore
!/config/simplyswords_extra
!/config/simplyswords_main
!/config/spawnbalanceutility
!/config/subtle_effects
!/config/tooltipoverhaul
!/config/traveloptics
!/config/witherreincarnated

# Singular config files
!/config/aggrofix.toml
!/config/aiimprovements-common.toml
!/config/alexscaves-client.toml
!/config/alexscaves-general.toml
!/config/alltheleaks.json
!/config/armageddon_mod_config.toml
!/config/arsdelight-common.toml
!/config/ars_nouveau-client.toml
!/config/ars_nouveau-common.toml
!/config/ars_nouveau-server.toml
!/config/biggerstacks-client.toml
!/config/biggerstacks-local.toml
!/config/biggerstacks-rules.xml
!/config/blessfulled-client.toml
!/config/bosses_of_mass_destruction.json5
!/config/bosses_rise_config.toml
!/config/breezy-client.toml
!/config/breezy-common.toml
!/config/brutality-client.toml
!/config/brutality-common.toml
!/config/c2me.toml
!/config/CasterCuriosBonusConfig.toml
!/config/cataclysm.toml
!/config/champions-client.toml
!/config/champions-common.toml
!/config/chloride-client.json
!/config/clientsort-server.json
!/config/clientsort.json
!/config/companions.toml
!/config/composite_material-common.toml
!/config/covenant_of_the_seven-client.toml
!/config/covenant_of_the_seven-common.toml
!/config/covenant_of_the_seven_curses-common.toml
!/config/craftpresence.json
!/config/create-client.toml
!/config/create-common.toml
!/config/deeperdarker-common.toml
!/config/defaultoptions-common.toml
!/config/diversity.toml
!/config/doespotatotick-client.toml
!/config/doespotatotick-common.toml
!/config/eeeabsmobs-common.toml
!/config/embeddium-options.json
!/config/emi.css
!/config/emi_loot_config.toml
!/config/enchantinginfuser-server.toml
!/config/endergetic-common.toml
!/config/endrem.toml
!/config/enigmaticaddons-client.omniconf
!/config/enigmaticaddons-common.omniconf
!/config/enigmaticdelicacy-client.omniconf
!/config/enigmaticdelicacy-common.omniconf
!/config/enigmaticdice-common.toml
!/config/enigmaticlegacy-client.omniconf
!/config/enigmaticlegacy-common.omniconf
!/config/enigmatic_dice_1.3.1-1.20.1.json
!/config/entityculling.json
!/config/experienceobelisk-common.toml
!/config/faunify-common.toml
!/config/ferritecore-mixin.toml
!/config/flerovium.json
!/config/fluid-common.toml
!/config/fml.toml
!/config/forbidden_arcanus-client.toml
!/config/forbidden_arcanus-common.toml
!/config/forge-client.toml
!/config/gnetum.json
!/config/goety_revelation.toml
!/config/gtbcs_spell_lib-common.toml
!/config/Hexerei-client.toml
!/config/Hexerei-common.toml
!/config/immediatelyfast.json
!/config/immersive_optimization.json
!/config/irons_spellbooks-client.toml
!/config/item_obliterator.json5
!/config/knightquest.toml
!/config/krypton_fnp.yaml
!/config/lazyyyyy.general.json
!/config/lazyyyyy.mixins.json
!/config/legendary_monsters-common.toml
!/config/lithium.properties
!/config/lmft.json
!/config/lootr-client.toml
!/config/lootr-common.toml
!/config/MajoSpellEnchantmentConfig.toml
!/config/many_bows.json
!/config/meetyourfight-common.toml
!/config/minecraft-cursor.json
!/config/modernfix-common.toml
!/config/modernfix-mixins.properties
!/config/morecritters-general.toml
!/config/mowziesmobs-client.toml
!/config/mowziesmobs-common.toml
!/config/mythsandlegends-common.toml
!/config/nolijium.json5
!/config/orbital_railgun-client.toml
!/config/orbital_railgun-common.toml
!/config/quark-common.toml
!/config/relics.yaml
!/config/RuOK.toml
!/config/saturn-optimizations.toml
!/config/shouldersurfing-client.toml
!/config/simply_swords_overhaul-common.toml
!/config/smsn.json
!/config/spawnbalanceutility-common.toml
!/config/starcatcher-client.toml
!/config/starcatcher-common.toml
!/config/structure_layout_optimizer.jsonc
!/config/tact-common.toml
!/config/tameable-beasts-common.toml
!/config/terramity-client-config.toml
!/config/TerramityCommonConfig.toml
!/config/toms_storage-common.toml
!/config/TonsOfEnchants-GlobalConfig.toml
!/config/undergarden-client.toml
!/config/undergarden-common.toml
!/config/uniqueaccessories-common.toml
!/config/verdant-client.toml
!/config/verdant-common.toml
!/config/visualworkbench-client.toml
!/config/visual_workbench.json
!/config/waystones-common.toml
!/config/windswept-client.toml
!/config/windswept-common.toml
!/config/xaerominimap-common.txt
!/config/xaerominimap.txt
!/config/xaerominimap_entities.json
!/config/xaeroworldmap-common.txt
!/config/xaeroworldmap.txt


# KubeJS scripts
!/kubejs

# VSCode Editor Config
!.editorconfig

# Git files
!/.gitattributes
!/.gitignore

# Documentation & README
!/CHANGELOG.md
!/FAQ.md
!/README.md

# dotenv
.env

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/Linux.gitignore
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### https://raw.github.com/github/gitignore/cc542de017c606138a87ee4880e5f06b3a306def/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
